:root {
  --color-base: #fef7d5;

  --color-1: #910142;
  --color-2: #6c043c;
  --color-3: #210123;

  --color-counter: #0ec0c1;
  --color-counter-2: #0b8585;
}

html { 
  background-color: var(--color-base);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
